<% if @user.errors.any?  %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="fields">
    <%= f.label :account, "帳號" %>
    <%= f.text_field :account, placeholder: '請輸入帳號' %>
  </div>
  <div class="fields">
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password, placeholder: '請輸入密碼'%>
  </div>
  <div class="fields">
    <%= f.label :email, "信箱" %>
    <%= f.email_field :email, placeholder: '請輸入email' %>
  </div>
  <%= f.submit "送出" %>
<% end %>
